
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
		<div class="main_title">
			<h2>Address</h2>
			<h5> Seldolor sit amet consect etur</h5>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0321129965223!2d106.6770261141167!3d10.808852361551594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528df028729cb%3A0x3ef254f4778e7d60!2zNzQyIE5ndXnhu4VuIEtp4buHbSwgUGjGsOG7nW5nIDQsIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1554805089909!5m2!1svi!2s" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	

	</div>
</section>